/* GLOBAL CSS*/
:root {
    --black: #111822;
    --white-gold: #F4F1D0;
    --grey: #9ba0b3;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: var(--black);
}

/* TYPOGRAPHY */
h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2em;
    font-weight: 900;
    color: var(--white-gold);
}

h2{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 28px;
    color: var(--white-gold);
}

h3{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 28px;
    color: var(--grey);
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--white-gold);
}

/* COMPONENTS */
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.hidden{
    display: none;
}

/* HEADER */
header{
    position: fixed;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80px;
    width: 100vw;
    top: 0;
    background-color: var(--black);
    z-index: 5;
}

/* menu */
header nav{
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateX(100vw);
    opacity: 0;
    visibility: hidden;
    background-color: #96881d;
    transition: transform 0.5s cubic-bezier(0.64, 0.05, 0.35, 1), 
                visibility 0.5s cubic-bezier(0.64, 0.05, 0.35, 1), 
                opacity 0.5s cubic-bezier(0.64, 0.05, 0.35, 1);
}

header ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

header li{
    margin: 0.5em 0;
}

header a{
    padding: 0.2em 0.4em;
    font-family: 'Lato', sans-serif;
    font-size: 1.9em;
    font-weight: 700;
    color: var(--black);
}

a.current{
    color: var(--white-gold);
}

/* logo */
#logo-bttn{
    position: relative;
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    height: 60%;
    padding: 0.4em;
    background: none;
    border: none;
}

#logo-bttn img{
    position: relative;
    max-height: 100%;
    justify-self: center;
}

/* toggle */
#toggle{
    position: absolute;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    right: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    outline: none;
    z-index: 50;
}

#toggle span{
    position: absolute;
    display: block;
    width: 80%;
    height: 4px;
    border-radius: 10px;
    background-color: var(--white-gold);
    color: transparent;
    transition: all ease 0.4s;
}

/* position bars */
#toggle span:nth-of-type(1) {
    top: 25%;
}

#toggle span:nth-of-type(2) {
    top: 50%;
    transform-origin: 100% 0;
}

#toggle span:nth-of-type(3) {
    top: 75%;
}

/* after JS toggle function is called */
.active #toggle span:nth-of-type(1) {
    transform: rotate(-45deg)!important;
    top: 50%!important;
}

.active #toggle span:nth-of-type(2) {
    transform: scaleX(0)!important;
}

.active #toggle span:nth-of-type(3) {
    transform: rotate(45deg)!important;
    top: 50%!important;
}

.active header nav{
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    transition: transform 0.5s cubic-bezier(0.64, 0.05, 0.35, 1), 
                visibility 0.5s cubic-bezier(0.64, 0.05, 0.35, 1), 
                opacity 0.5s cubic-bezier(0.64, 0.05, 0.35, 1);
}

/* MAIN */
section{
    text-align: center;
}

/* HOME */
/* introduction section*/
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 7vw;
    background-color: var(--black);
}

#home h1{
    margin-top: -50px;
    margin-bottom: 5%;
}

#home h2{
    font-size: 1.3em;
    font-weight: 500;
}

#home h3{
    font-size: 1em;
    font-weight: 400;
    padding: 0.3em 0 0.6em;
    text-transform: uppercase;
}

/* projects section */
section#projects{
    display: grid;
    grid-template-areas:
    "helios"
    "southpark"
    "darksouls";
    justify-items: center;
    background-color: var(--black);
}

/* grid item */
.project{
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    padding: 0 5vw;
    margin-bottom: 30px;
}
.project a{
    display: block;
    width: 100%;
    height: 100%;
}
.project img{
    width: 100%;
}

/* ABOUT */
#about {
    padding-top: 80px;
}

/* FOOTER */
footer{
    display: grid;
    grid-template-areas:
    "copyright";
    height: 80px;
    bottom: 0;
    background-color: var(--black);
}

p.copyright{
    font-weight: 400;
    font-size: 0.8em;
    align-self: center;
    justify-self: center;
}


